<form method="post" action="/Home/Add">
    <input name="Id" placeholder="1" />
    <input name="Name" placeholder="Hripsime" />
    <input name="Email" placeholder="hshirkhanyan@gmail.com" />
    <button type="submit">Add</button>
</form>